@model GeneralWorkPermit.ViewModels.AdminDashboardVM
@using GeneralWorkPermit.Models

@{
    ViewData["Title"] = "AdminDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AdminDashboard</h1>
<h5>Hi @Model.AdminId</h5>



<div>
    <h4>Reviews to be attended to</h4>
    <hr />
    @foreach (string review in Model.ApplicantEmail)
    {
        <dl class="row">
            <label asp-for="OutputEmail">@review</label>

            <a class="btn btn-primary" asp-controller="review" asp-action="ViewApplicantReview" asp-route-email="@review">View</a>
        </dl>
    }
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.ReviewsId">Edit</a> *@ |
    <a asp-action="Index">Back to List</a>
</div>
